
 .flex-container {
    display: flex;
    background-color: rgb(84,3,5);
 }

 .flex-container > div {
    padding: 20px;
    font-size: 16pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.website-body {
    max-width: 100%;
    margin: 10px;
    background-color: rgb(255,255,242);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

img {
text-align: center;
max-width: 100%;
height: auto;
}

.img2 {
text-align: center;
max-width: 100%;
height: auto;
}


.title {
font-family: Arial, Helvetica, sans-serif;
position: absolute;
top: 50%;
bottom: 50%;
color: white;
font-size: 50pt;
}

.container2 {
    display: flex;
    align-items: left;
    justify-content: left;
}

.container3 {
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: row-reverse;
}

.text1 {
    font-size: 14pt;
    padding-left: 200px;
    float: left;
    color: rgb(84,3,5);
    font-family: Arial, Helvetica, sans-serif;
}

.text2 {
        font-size: 20pt;
        padding-left: 200px;
        float: left;
        color: rgb(84,3,5);
        font-family: Arial, Helvetica, sans-serif;
}

.text3 {
font-size: 14pt;
color: rgb(84,3,5);
font-family: Arial, Helvetica, sans-serif;
}





.column {
  float: left;
  width: 31%;
  padding: 5px;
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}






body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.nav-links a {
    text-decoration: none;
    padding: 10px 5px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
}

.bg-color {
    background-color:rgb(84,3,5);
    box-shadow: 0 0 20px black;
}

.show-desktop {
        display: none;
    }

@media screen and (min-width: 648px) {
    .show-desktop {
        display: block;
    }
}


.fade-in {
    opacity: 0;
}
.fade-in.active {
    animation-name: fade-in;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.slide-in {
    animation-duration: 3s;
    animation-name: slide-in
}

@keyframes .slide-in {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }